spring:
  datasource:
    url: jdbc:h2:mem:jobtrackr;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true   # <-- add this
  h2:
    console:
      enabled: true
      path: /h2
server:
  port: 8080
